$blackColor: #4E4E50;

$grayColor: #A5A5A5;

$whiteColor: #ffffff;

$redColor: #f25368;

$blueColor: #00a1ff;

$yellowColor: #D4AF93;

$orangeColor: #DD6900;

$grayColorSecond: #F2F2F2;
$grayColorThree: #7E7E7E;

$standartSize: 16px;
$standartSecondSize: 20px;
$standartThreeSize: 18px;
$middleSize: 52px;
$middleSecondSize: 40px;
$largeSize: 48px;