doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		include default/header.pug
		// header
		
		.stub

		.header-second.main-grid
			.btn-wc
				a.btn-back(href="#")
					img(src="../images/arrow-prev-grey.svg", alt="")
					span Вернуться
			.breadcrumbs
				a(href="") Главная / 
				a(href="") Новости / 
				span Испытания электронных датчиков утечки газа
		.news-header.main-grid
			.data
				b Опубликовано:
				span 18.01.2021
			h2 Испытания электронных датчиков утечки газа
			.hint
				b Прочтение:
				span 2 мин.
		.news-img
			.news-img-inner
				img(src="../images/news-banner.jpg", alt="")
		.news-description
			.description-inner
				.ico-quote
				h3 В данной статье мы подробнее расскажем, на какие показатели безопасности испытывают электронные датчики утечки газа.
				p Датчик утечки газа отслеживает степень вредных примесей в воздухе. Когда показатели превышают заданный уровень, клапан-отсекатель перекрывает подачу сжиженного, природного газа, а устройство подает звуковые и световые сигналы. Бытовой сигнализатор утечки угарного газа оповещает о критической концентрации миганием индикаторной лампочки на корпусе и звуком.
				p  
					b ГОСТ 30804.3.2-2013 (IEC 61000-3-2:2009)
					|Совместимость технических средств электромагнитная. Эмиссия гармонических составляющих тока техническими средствами с потребляемым током не более 16 А (в одной фазе).
				p 
					b ГОСТ 30804.3.3-2013
					| Совместимость технических средств электромагнитная. Ограничение изменений напряжения, колебаний напряжения и фликера в низковольтных системах электроснабжения общего назначения. Технические средства с потребляемым током не более 16 А (в одной фазе), подключаемые к электрической сети при несоблюдении определенных условий подключения. Нормы и методы испытаний.
			.news-slider-container
				.news-detail-slider.owl-carousel
					each val in ["","","","","","",]
						img(src="../images/gas-1.jpg", alt="")
				.slider-num
					.current 1
					span из
					.total 25
			.description-inner
				p Наш испытательный центр оснащён самым современным оборудованием для проведения испытаний продукции на соответствие требованиям ТР ТС 020/2011 «Электромагнитная совместимость». Датчик утечки газа отслеживает степень вредных примесей в воздухе. Когда показатели превышают заданный уровень, клапан-отсекатель перекрывает подачу сжиженного, природного газа, а устройство подает звуковые и световые сигналы. Бытовой сигнализатор утечки угарного газа оповещает о критической концентрации миганием индикаторной лампочки на корпусе и звуком.
		.main-grid
			.news-next
				h3 Следующая новость
				.news-item
					.data 20.01.2021
					.news-next-img
						img(src="../images/news-next.jpg", alt="")
					p Испытания электрических приборов бытового назначения: портативный кислородный аппарат.
		// footer
		include default/footer.pug
		// footer
