doctype html
html
	body
		// head
		include default/head.pug 
		// head
		// header
		include default/header.pug
		// header

			// content-head 
		.stub

		.page-404
			img(src="../images/ico-404.png", alt="")
			h3 404
			p Страница не найдена




		// footer
		include default/footer.pug
		// footer